@charset "UTF-8";

body{
    background-color: lightgray;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    height: 600px;
    margin: auto;
}

h1{
    text-align: center;
}

div.video{ 
    background-color: gray;
    position: relative;
    padding-bottom: 56%;
}
div > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
